<div id="head" class="card" style="width: 100%;  color: rgb(83, 24, 27); border: white;">
    
    <div class="card-body">
      <h2 class="card-title" ><b>Contact Us</b></h2><br>
      <h1 class="card-title" ><b>Ruchi Bakes</b></h1><br><br><br>

      <div id="body">
        <fa-icon id="icon" [icon]="address" style="color: green;"></fa-icon>&nbsp;&nbsp;Address Line 1 <br> &nbsp;&nbsp;&nbsp;&nbsp; Address Line 2 <br><br>
        
        
        <fa-icon id="icon" [icon]="email" style="color: green;"></fa-icon> &nbsp;&nbsp;Email<br><br>
      
        <fa-icon id="icon" [icon]="mobile" style="color: green;"></fa-icon> &nbsp;&nbsp;Phone<br><br><br>

        <h2 class="card-title" ><b>Write Us a letter</b></h2><br>

        
      </div>
     
      
    </div>
    </div>

    <div class="card-body" id="form" >
  <form >
    <div class="form-group">
      <input type="text" required class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="email" required class="form-control" id="name"  placeholder="Enter email">
    </div>
    <div class="form-group">
      <input type="text" required class="form-control" id="name"  placeholder="Enter Message">
    </div>
    <div id="button">
    
    <button type="submit" class="btn btn-primary" >Submit</button>
  </div>
  
  </form> 
</div>

    <br>


